body{
    background:linear-gradient(30deg, rgb(240, 240, 240),rgb(199, 199, 199), rgb(197, 149, 116),rgb(221, 221, 221)),rgb(207, 207, 207);
    }

  .card{
      width: 100%;
      margin: 15px;
      border-radius: 6px;
      overflow: hidden;
    padding: 40px;
      background:#ffffff;
  }

  h1{
    text-align: center;
    font-size: 80px;
    margin: 50px;
  }
